.country-filter {
   display: flex;
   justify-content: space-between;
}

.light-theme-one {
   background-color: white;
   color: #2b3945;
}

.dark-theme-one {
   background-color: black;
   color: black;
}
