.header-text {
  margin: 30px;
  padding: 10px;
}

.header-button-dark {
  font-size: 15px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
}

.header-button-light {
  font-size: 15px;
  padding: 10px;
  border-radius: 4px;
  color: black;
}

.header {
  height: 110px;
  display: flex;
  padding-bottom: 30px;
}

.light-theme {
  background-color: #fff;
  color: #2b3945;
}

.dark-theme {
  background-color: #2b3945;
  color: #fff;
}

.theme-btn {
  display: flex;
  margin-top: 30px;
  margin-right: 30px;
  outline-width: 0px;
}
.Moon {
  padding-top: 17px;
}
