.something {
   color: black;
}
.ovel {
   border-radius: 5px;
   background-color: cornflowerblue;
   border: 2px solid greenyellow;
}
.rectangular {
   border-radius: 0px;
   background-color: indianred;
   border: 2px solid indigo;
}
